/*************** Cuprum ******************************/
@font-face {
    font-family: 'Cuprum'; 
    src: url('../fonts/web/cuprum.woff2') format('woff2'),
		 url('../fonts/web/cuprum.woff') format('woff'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cuprum'; 
    src: url('../fonts/web/cuprumbold.woff2') format('woff2'),
		 url('../fonts/web/cuprumbold.woff') format('woff'); 
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Cuprum'; 
    src: url('../fonts/web/cuprumitalic.woff2') format('woff2'),
		 url('../fonts/web/cuprumitalic.woff') format('woff');     
	font-weight: normal;
    font-style: italic;
}
/**************** PT Sans ****************************/
@font-face {
    font-family: 'PT Sans'; 
    src: url('../fonts/web/ptsans.woff2') format('woff2'), 
		 url('../fonts/web/ptsans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PT sans'; 
    src: url('../fonts/web/ptsansbold.woff2') format('woff2'), 
         url('../fonts/web/ptsansbold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
/********************************************************/
body {
	font-size: 17px;
	line-height: 17px;
	color: #ffffff;
	font-weight: normal;	
	font-family: "Cuprum";
}
/*
h1 {
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;	
	font-weight: normal;
	font-family: "Cuprum";
}*/
h2 {
	font-size: 24px;
	line-height: 30px;
	color: #ffffff;
	font-weight: normal;
	font-family: "Cuprum";
}

.clearfix {
	content: "";
	display: table;
	clear: both;
}
ul {
  list-style: none;  /* убираем у всех списков точки и пробелы */
  padding: 0;
  margin: 0;
}
ul li {	
  //background-color: aquamarine;   
}
figure,
p,
h1,h2 {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;  
  color: inherit;
  outline: none;
}
.container {
	width: 940px;
	margin: 0 auto;	
}
.header-main-page,
.header-catalog {
	height: 42px;
	background-color: #293449;
}
.top-logo {
	width: 220px;	
	padding-top: 9px;
	padding-bottom: 8px; 		
	margin-right: 20px;
	float: left;		
	background-color: #ee3643;	
	text-align: center;
	font-family: Cuprum;	
	font-size: 24px;
	line-height: 24px;	
	text-transform: uppercase;		
	border-bottom: 5px solid #b52933;
	border-top: 1px solid #e03643;	
}
.footer-top-logo {    
	width: 220px;	
	float: left;
	background-color: #ee3643;
	margin-right: 20px;
	text-align: center;
	font-family: Cuprum;	
	text-transform: uppercase;	
	font-size: 24px;
	line-height: 24px;
	padding-top: 20px;
	padding-bottom: 20px; 
	border-bottom: 5px solid #b52933;	
}
/*.footer-top-logo a {
  display: block;
  width: 100%;
  height: 100%;
}*/
.searching-block {
	width: 235px;	
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 17px;
    line-height: 18px;  
	float: left;
	background-color: darkkhaki;	
}
.btn-search {
  position: relative;
  margin-right: 20px;
}
.btn-search::before{
  position: absolute;
  content: '';
  width: 17px;
  height: 17px;
  top: 0;
  left: 0;
  background: url('../img/.icon-search.png') no-repeat 0 0;
}
.bookmarks-block a {
    position: relative;
	width: 100px;
	float: left;
    padding-top: 12px;
    padding-bottom: 12px;	    
    //padding-right: 30px;
    padding-left: 50px;
    //margin-right: 20px;
    font-size: 17px;
    line-height: 18px;  	    	
    background-color: #293449;	
}
.bookmarks-block a::before {  
  position: absolute;
  content: '';
  width: 14px;
  height: 16px;
  top: 15px;
  left: 15px;
  background: url('../img/.icon-bookmark.png') no-repeat 0 0;
  opacity: 0.3;
}
.bookmarks-block a:hover::before {    
  opacity: 1;
}
.cart-block a {
    position: relative;
	width: 100px;
	//height: 42px;
	float: left;
    padding-top: 12px;
    padding-bottom: 12px;
    //padding-right: 30px;
    padding-left: 50px;    
	background-color: #293449;	
    font-size: 17px;
    line-height: 18px;  	
	//margin-right: 20px;
}
.cart-block a::before {
  position: absolute;
  content: '';
  width: 17px;
  height: 16px;
  top: 15px;
  left: 15px;
  background: url('../img/.icon-basket.png') no-repeat 0 0;
  opacity: 0.3;
}
.cart-block a:hover::before{
  opacity: 1;
}
.not-empty a {
  background-color: #ee3643;
}
.bookmarks-block a:active,
.cart-block a:active {
  background-color: #161d29;
}
.btn-make-order a {    
	width: 150px;
	//height: 42px;
	float: right;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
	background-color: #63a63e;	
    font-size: 17px;
    line-height: 18px;  
}
.btn-make-order a:hover {
  background-color: #5fbb2d;
}
.btn-make-order a:active {
   background-color: #518534;
}

.top-page-block {
	background-color: #f1f5f7;
	padding-bottom: 60px;
    margin-bottom: 60px;
}
.catalog-top-page {
    background-color: #f1f5f7;
	padding-bottom: 60px;
    margin-bottom: 60px;  
}
.top-block {
	padding-top: 48px;
	padding-bottom: 45px;	  	
	width: 940px;	 
}
.top-info-block h1 {
	width: 200px;
	height: 65px;	
	float: left;
	margin-right: 30px;
	margin-left: 50px;
    font-size: 16px;
    line-height: 23px;
    font-weight: normal;
    font-style: italic;
    color: #ee3643;  
 }

.top-contacts-block {
	width: 272px;
	height: 65px;	
	float: left;
	margin-right: 30px;
}
.top-phone {
  padding-top: 10px;
  padding-bottom: 10px;  
  font-size: 21px;
  line-height: 18px;
  font-style: normal;
  text-align: center;
  color: #e9292a;  
  border: 3px solid white;
}
.top-contacts-block address {
  margin-top: 5px;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  text-align: center;
  color: #32425c;  
}
.top-user-block {
  width: 282px;
  //min-height: 65px;  
  float: right;
}

.btn-enter {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-left: 46px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 25px;
  margin-right: 6px;
  background-color: #ffffff;
  font-size: 21px;
  line-height: 18px;
  color: black;    
}
.btn-enter::before {
  position: absolute;
  content: '';
  width: 22px;
  height: 19px;
  top: 17px;
  left: 10px;
  background: url('../img/.icon-login.png') no-repeat 0 0;
}
.btn-enter:hover::before {
  background-position: -22px 0;
}
.btn-registration {
  display: inline-block;
  vertical-align: top;  
  padding-left: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 25px;  
  background-color: #ffffff;
  font-size: 21px;
  line-height: 18px;
  color: black;
}
.btn-enter:hover, 
.btn-registration:hover {
  color: #ee3643;
} 
.btn-enter:active, 
.btn-registration:active {
  color: black;
  opacity: 0.3;
} 
.nav-block {
  width: 940px;  
  background-color: #32425c;	  
  color: #ffffff;  
  border-bottom: 5px solid #293449;
}
.nav-block ul {
	margin-left: 50px;
	//margin-top: 20px;  
}
.nav-block a {
  display: block;
  padding: 20px 30px;  
}
.nav-block a:hover {
  background-color: #293449;
}
.nav-block a:active {  
  opacity: 0.5;
}
.nav-block li {
	float: left;	
}
.products {             /* article */
	width: 300px;
	height: 123px;
	float: left;
	margin-right: 20px;	
}
.products h2 {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 24px;
  line-height: 30px;  
  font-weight: bold;
}
.products-materials {
  background: #f6b22d url('../img/materials.png') no-repeat 212px 32px;
}
.products-tools {
  background: #4aafde url('../img/instruments.png') no-repeat 200px 32px;
}
.products-technics {
  background: #cc79d1 url('../img/technics.png') no-repeat 200px 32px;
}
.products-discounts {
  background: #85d179 url('../img/discounts.png') no-repeat 200px 32px;
}
.products-delivery {
  background: #f6b22d url('../img/delivery.png') no-repeat 200px 32px;
}
.btn {
  display: block;
  width: 135px;
  padding: 15px 0 15px 0;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(0,0,0,0.1);  
  border-radius: 2px;  
}
.btn:hover {
  background-color: rgba(0,0,0,0.2);  
}
.btn:active {
  background-color: rgba(0,0,0,0.3);  
}
.products:nth-of-type(3){
	margin-right: 0;
}
.products:nth-of-type(4),
.products:nth-of-type(5) {
	margin-right: 0;
	margin-top: 20px;
}

.products-slider-block {
	width: 620px;
	height: 266px;
	margin-right: 20px;
	margin-top: 3px;              /* не смог понять почему у слайдера появился отступ в 7px */
	float: left;
}
.products-and-features {
	margin-bottom: 53px;	
}
.products-title-block {	
	width: 940px;
	height: 89px;
	margin-bottom: 20px;
	background-color: #f7f3ec;	
}
.products-title-block h2 {
	width: 270px;
	float: left;
	margin-left: 30px;
	margin-top: 30px;
	color: #32425c;	
    font-size: 30px;
    line-height: 30px;  
    text-transform: uppercase;
}
.btncom {
	display: block;
	background-color: #ee3643;
	padding-top: 15px;
	padding-bottom: 15px;	
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	border-radius: 5px;		
}
.btncom:hover {
  background-color: #ca2c37;
}
.btncom:active {
  background-color: #ba2732;
}
.btn-popular-products,
.btn-popular-manufactures {
  width: 253px;	
  float: right;
  margin-right: 25px;
  margin-top: 20px;	
}
.popular-products-items {
  margin-bottom: 20px;
}
.products-item {
  position: relative;
  width: 217px;
  height: 318px;
  border: 1px solid #e5e5e5;
  float: left;
  margin-right: 20px;
}
.products-item:nth-of-type(4){
	margin-right: 0;
}
.products-item figure {
  margin: 45px 17px;
  text-align: center;
}
.item-title {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: black;
  text-align: center;
}
.old-price {
  margin-top: 10px;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #999999;
  text-align: center;
  text-decoration: line-through;
}
.price {
  width: 88px; 
  
  position: absolute;            /* блок с ценой прижат к нижней части article    */
  bottom: 20px;
  left: 42px;
  padding-left: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: white;  
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 2px 0 0 2px;

}
.price::after {      /* красный квадрат -> стрелочка с ценой  */
  content: '';
  position: absolute;
  margin-right: -14px;
  bottom: 6px;
  right: 0;
  width: 27px;
  height: 27px;
  transform: rotate(45deg);
  background-color: #ee3643;
}
.products-item:hover {
  box-shadow: 0 10px 20px 0 #585a5a;  
}
.products-item:hover figure {
  display: none;
}
.products-item:hover .item-btn-block {
  display: block;
}
.products-item-new {
  position: absolute;
  width: 60px;
  height: 59px;
  background-image: url('../img/flag-new.png');  /* Флаг NEW */
  right: 0;
  top: 0;  
}
.item-btn-block {
  display: none;
  height: 90px;
  margin: 46px 17px;
  text-align: center;    
}
.item-btn-block .btn-buy {
  display: block;
  padding: 13px 45px 11px 45px;
  margin-bottom: 10px;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  background-color: #63a63e;
  border-radius: 2px;
  border-bottom: 3px solid #367315;
}
.btn-buy:hover {
  background-color: #5fbb2d;
}
.btn-buy:active {
  background-color: #367315;
}
.item-btn-block .btn-to-bookmarks {
  display: block;
  padding: 13px 45px 12px 45px;  
  font-size: 14px;
  text-transform: uppercase;
  color: #32425c;  
  border-radius: 2px;
  border: 2px solid #367315;
}
.btn-to-bookmarks:hover {
  border-color: #32425c;
}
.btn-to-bookmarks:active {
  opacity: 0.3;  
}

.manufacturers-title-block{
	width: 940px;
	height: 89px;
	margin-bottom: 20px;
	background-color: #f7f3ec;	
}
.manufacturers-title-block h2 {
	width: 380px;
	float: left;
	margin-left: 30px;
	margin-top: 30px;
	color: #32425c;	
    font-size: 30px;
    line-height: 30px;  
    text-transform: uppercase;
}
.popular-manufacturers-item {
    position: relative;
	width: 218px;
	height: 145px;
	margin-right: 20px;
    margin-bottom: 20px;
	float: left;
	border: 1px solid #e5e5e5;   
}
.popular-manufacturers-item img { /* центрируем логотипы компаний по центру */
  position: absolute;  
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;  
}
.popular-manufacturers-item:hover {
   box-shadow: 0 10px 15px 0 #585a5a; 
}
.popular-manufacturers-item:active {
   opacity: 0.3;
}
.popular-manufacturers-item a {     /* Делаем ссылкой весь блок */
  display: block;
  width: 100%;
  height: 100%;
}
.popular-manufacturers-item:nth-child(4n){
	margin-right: 0;
}
.manufacturers-items {	
	margin-bottom: 70px;
}
.services {
	background-color: #f2f6f8;
}
.services-title-block {
  padding-top: 65px;  
  padding-bottom: 5px; 
}
.services-title {
  color: black;   
  font-size: 30px;  
  line-height: 24px; 
  text-transform: uppercase;
}
.services-title-description {
  width: 400px;
  height: 60px;
  padding-top: 25px;
  color: black;
  font-family: "PT Sans";
  font-size: 13px;  
  line-height: 24px;		
}
.services-item-block {
  width: 940px;  
  padding-top: 50px;  	
}
.nav-services-block {
  position: relative;
  width: 240px;	  	
  float: left;	
}
.nav-services-block::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 272px;
  top: -40px;
  right: 0;
  background-image: url('../img/shadow-items.png');
}
.services-description {
  width: 625px;
  height: 285px;  
  float: right;
  background: url('../img/services-delivery.png') right bottom no-repeat;
}
.nav-services-item span {       /* Активный пункт раздела Сервисы */ 
  display: block;
  padding-top: 20px;
  padding-bottom: 22px;
  padding-left: 25px;  
  background-color: white;
  border-bottom: 1px solid #293449;
  font-size: 21px;
  font-weight: bold;
  color: white;
}
.nav-services-item a {              /* Ссылка */
  display: block;
  padding-top: 20px;
  padding-bottom: 22px;
  padding-left: 25px;  
  background-color: #32425c;
  border-bottom: 1px solid #293449;
  font-size: 21px;
  font-weight: bold;
  color: white;
}
.nav-services-item a:hover {
  background-color: #293449;
}
.item-active span {
  background-color: white;
  color: #32425c;
}

.services-description h2 {
  font-size: 36px; 
  line-height: 24px;
  text-transform: uppercase;
  color: #32425c;
}
.services-description p {  
  color: black;
}
.services-item-description {
  padding-top: 30px;
  width: 280px;
  height: 100px;
  font-family: 'PT Sans';
  font-size: 13px;  
  line-height: 24px;
}
.services-content-block {
	margin-bottom: 80px;
}
.about-company {
  width: 522px;  
  float: left; 
  color: black;    
}
.about-company h2,
.map h2 {
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
  color: black;
}
.about-company p,
.map p {
  margin-top: 25px;
  font-family: "PT Sans";
  font-size: 13px;  
  line-height: 24px;	
}
.about-company p:last-of-type {
	margin-bottom: 25px;
}
.about-company li {	
	margin-bottom: 25px;
	font-size: 18px;
	background: url('../img/about-company-item.jpg') left 50% no-repeat;
	padding-left: 37px;
}
.btn-about {
  width: 220px;			
  margin-right: 25px;
  margin-top: 40px;		
}
.map {
  width: 300px;
  float: right;  
  color: black;
}
.map figure {
	margin-top: 39px;
	margin-bottom: 39px;		
}
.about-map-block {
  margin-bottom: 87px;
}
.footer-main-page,
.footer-catalog-page {
	//margin-top: 87px;
	background-color: #32425c;
}
.footer-top-nav {
	width: 560px;
	height: 47px;
	float: right;	
	//background-color: antiquewhite;
}
.footer-top-nav li {
	float: left;
	margin-right: 60px;
	margin-top: 39px;
	font-size: 18px;	
}
.footer-top-nav li:last-of-type {
	margin-right: 0;
}
.footer-top-nav a {
	color: #f1f5f7;	
}
.footer-top-nav a:hover,
.footer-features-nav a:hover {
  text-decoration: underline;
}
.footer-top-nav a:active,
.footer-features-nav a:active {
  opacity: 0.5;
}
.footer-contacts-block {	
	width: 335px;
	height: 60px;
	margin-top: 32px;
	float: left;
}
.footer-features-nav {
	width: 530px;
	height: 60px;
	margin-top: 32px;
	float: right;
}
.footer-features-nav li {
	margin-right: 60px;
	float: left;
}
.footer-features-nav li:last-of-type {
	margin-right: 0;	
}
.footer-features-nav a {
	font-size: 18px;
	color: #ffd180;
}
.footer-contacts-block address {
	font-size: 18px;
	font-style: normal;
	color: #f1f5f7;
}
.footer-bottom-block {
	margin-top: 55px;
	background-color: #293449;
}
.footer-bottom-copyright {	
	width: 240px;
	height: 60px;
	float: left;
	padding-top: 35px;
	margin-right: 135px;
}
.footer-bottom-social {
	width: 170px;
	height: 60px;
	float: left;
	padding-top: 35px;
    margin-right: 90px;
}
.footer-bottom-social li {
	float: left;
    margin-right: 5px;
}
.footer-bottom-feedback a,
.footer-bottom-develop a {
  color: ffd180; 
}
.social-btn {
  position: relative;
  text-indent: -9999px;
  display: block;  
  width: 42px;
  height: 42px;
  background: url('../img/social-sprite.jpg') no-repeat 0 0;
}
.social-btn-vk {
  background-position: 0 0;
}
.social-btn-vk:hover, 
.social-btn-vk:active {
  background-position: 0 -48px;
}
.social-btn-fb {
  background-position: -45px 0;
}
.social-btn-fb:hover,
.social-btn-fb:active{
  background-position: -45px -48px;
}
.social-btn-inst {
  background-position: -90px 0;
}
.social-btn-inst:hover,
.social-btn-inst:active {
  background-position: -90px -48px;
}
.footer-bottom-feedback {
	width: 170px;
	height: 60px;
	float: left;
	padding-top: 35px;
}
.footer-bottom-develop {
	width: 100px;
	height: 60px;
	float: right;
	padding-top: 35px;
}
/********************* catalog  ****************************/
.top-block-catalog {
	padding-top: 48px;
	padding-bottom: 40px;	  	
	width: 940px;	    
}
.catalog-top-page {
  margin-bottom: 0;    
}
.orders-personal-item {
	margin-right: 20px;
	float: left;
}
.catalog {
  width: 300px;  /* top-user-block 300px в catalog */
}
.user-field {
  position: relative;
  display: block; 
  padding: 15px 65px 15px 45px;  
  font-size: 21px;
  color: black;
  background-color: white;
  white-space: nowrap;
}
.user-field::before {
  position: absolute;
  content: '';
  width: 22px;
  height: 20px;
  top: 13px;
  left: 10px;
  background: url('../img/.icon-user.png') no-repeat 0 0;  
}
.user-field:hover::before,
.user-field:hover::after {
  background-position: -22px 0;
}
.user-field:active {
  opacity: 0.3;
}
.user-field::after {
  position: absolute;
  content: '';
  width: 22px;
  height: 20px;
  top: 15px;
  right: 20px;
  background: url('../img/.icon-logout.png') no-repeat 0 0;  
}
 
.orders-personal-list a {  
  font-size: 16px;  
  color: #32425c;  
  text-decoration: underline;
}
.orders-personal-list a:hover {  
  color: #ee3643; 
}
.orders-personal-list a:active {  
  //opacity: 0.3;
  color: rgba(50,66,92,0.3);   /*прозрачноcть не распространяется на точку   */
}
.orders-personal-item:first-child a {
  position: relative;
  padding-right: 25px;  
}
.orders-personal-item:first-child a::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  right: 0;
  top: 8px;
  background: url('../img/list-dot.png') no-repeat 0 0;
}
.orders-personal-list {
  margin-left: 25px;
  margin-top: 5px;
}
.breadcrumbs ul {
	width: 940px;		
}
.breadcrumbs li {
	margin-right: 35px;	
	padding-top: 23px;
	padding-bottom: 23px;
	font-size: 13px;
	text-transform: uppercase;	
	float: left;
}
.breadcrumbs a {
	color: black;
}
.breadcrumbs .home {  /* изображение домика */
  /*display: block;
  width: 14px;
  height: 12px;
  background: url();  */
} 
.catalog-title-block {
	width: 940px;	
	background-color: #f2f6f8;
	margin-bottom: 20px;
}
.catalog-title-block h2 {	
	padding-left: 50px;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 30px;
	font-weight: normal;
	color: #32425c;
	text-transform: uppercase;
}
/************* Блок с фильтрами ******************************/
.filter-block {
	width: 220px;
	float: left;    
}
.filter-title h2 {
  padding-top: 10px;
  font-size: 17px;
  line-height: 30px;
  font-family: 'PT Sans';
  font-weight: bold;
  color: black;
  text-transform: uppercase;
}
.main-items-block {
	width: 700px;
	float: right;
}
.filter-block-name {
	background-color: #f7f3ec;
}
.filter-block-name h2 {	
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 13px;
	color: black;
	text-transform: uppercase;
}
.searching-by-manufacturer h2,
.searching-by-power h2 {
  padding-bottom: 10px;
  font-size: 17px;
  line-height: 30px;
  font-family: 'PT Sans';
  font-weight: bold;
  color: black;
  text-transform: uppercase;
}

.searching-by-manufacturer,
.searching-by-power {
  font-size: 15px;
  line-height: 20px;
  font-family: 'PT Sans';
  font-weight: normal;
  color: black;
  text-transform: uppercase;
}
.searching-by-manufacturer {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/******************** блок сортировки ***********/
.sorting {
	width: 700px;
	background-color: #f7f3ec;
}
.sorting-title {
	float: left;
}
.sorting-title h2 {
	padding-left: 20px;
	margin-right: 140px;
	padding-top: 5px;
	padding-bottom: 5px;	
	font-size: 13px;
	color: black;
	text-transform: uppercase;
}
.sorting-block li { 
	float: left;
	margin-right: 75px;	
    padding-top: 12px;
	font-size: 13px;
    text-transform: uppercase;	
}
.sorting-block a {
    color: black;
  	opacity: 0.3;
	border-bottom: 1px dotted red;	
}
.sorting-block a:hover {
	opacity: 1;
}
.sorting-item-active a {
	opacity: 1;
	color: red;
	border-bottom: none;		
}
/***************** Карточки товара ***********/
.items-block .products-item { /* article */
  width: 218px;    /* 218+border = 220 */
  height: 318px;
  float: left;
  border: 1px solid #e5e5e5;
  margin-right: 20px;
  margin-top: 20px;
}
.items-block .products-item:nth-of-type(3n){
  margin-right: 0;
}

.items-block {
  margin-bottom: 55px;
}
/***************** Кнопки со страницами *************************/
.pagination-list {
  margin-bottom: 60px;	
}
 .pagination-list li {
	float: left;	
}
.paginator-item a {	
  display: block;	
  width: 38px;  		
  padding-top: 12px;  
  padding-bottom: 12px;  
  color: black;
  margin-right: 10px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;  
  border: 1px solid #e5e5e5;
  border-radius: 2px;  
}
.paginator-item a:hover {
  border-color: #bdc6ca;
}
.paginator-item a:active {
  border-color: #ee3643;
}

.paginator-item-active {	
  float: left;
  width: 38px;  
  padding-top: 12px;  
  padding-bottom: 12px;  
  color: black;
  margin-right: 10px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;  
  border: 1px solid #e5e5e5;
  border-radius: 2px;  
  background-color: red;
  color: white;
}
.paginator-item-next a { 
  display: block;
  padding-top: 12px;  
  padding-bottom: 12px; 
  color: black;
  margin-right: 10px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;  
  border: 1px solid #e5e5e5;
  border-radius: 2px; 
  width: 140px;
}
.about-product {
  padding-top: 70px;
  background-color: #f2f6f8;
}
.about-product h2 {
  margin-bottom: 35px;
  font-size: 30px;
  color: black;  
  text-transform: uppercase;
}
.about-product p {
	font-family: 'PT Sans';
  font-size: 13px;  
  line-height: 24px;
  color: black;
  padding-bottom: 70px;
}

/****************  ФИЛЬТР ******************************/
.range-filter{
    padding-top: 10px;
    padding-bottom: 20px;
    width: 220px;
    margin: auto;
    margin-bottom: 10px;
    color: black;
    border-bottom: 1px solid #e5e5e5;
}
.range-controls{
    position: relative;
    height: 80px;
    margin-bottom: 15px;
    padding: 0 30px;
    background: #f7f3ec;
    border-radius: 0 0 3px 3px;
    overflow: hidden;
}
.scale{
    margin-top: 39px;
    height: 2px;
    background: #d7dcde;
}
.bar{
    height: 2px;
    background: #00ca74;
}
.toggle{
    position: absolute;
    top: 30px;
    left: 30px;
    width: 4px;
    height: 4px;
    border: 8px solid white;
    background: #ababab;
    cursor: pointer;
    border-radius: 50%;
}
.min-toggle{
    left: 70px;
}
.max-toggle{
    left: 165px;
}
.min-price, .max-price {
    width: 80px;
    padding: 8px 10px;    
    border: none;
    background: #f7f3ec;
    font-size: 16px;
    font-family: "Tahoma", sans-serif;
    text-align: center;
    color: black;
    border-radius: 5px;    
}
.max-price {
  float: right;
}
selector{
    margin-right: 14px;
}

/************************** end ФИЛЬТР ***************************************/